*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.block {
    width: 200px;
}
img{
    width: 100%;
}